@{
    ViewData["Title"] = "Options";
}

<h1>Здесь будут настройки</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="ChangeColor" asp-route-color="pink">Pink</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="ChangeColor" asp-route-color="black">Black</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Game" asp-action="ChangeColor" asp-route-color="blue">Blue</a>
